.recordButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

